<button class="btn btn-primary m-2" routerLink="databinding">
  Data Binding
</button>
<button class="btn btn-primary m-2" routerLink="directives">Directives</button>
<button class="btn btn-primary m-2" routerLink="parent">Parent</button>
<button class="btn btn-primary m-2" routerLink="pipe">Pipe</button>
<button class="btn btn-primary m-2" routerLink="ang-form">Angular Forms</button>
<button class="btn btn-primary m-2" routerLink="comp2">Comp2</button>
<button class="btn btn-primary m-2" routerLink="mycolor">
  My Color (cust-dir)
</button>
<button class="btn btn-primary m-2" routerLink="crud">CRUD</button>
<button
  class="btn btn-outline-danger m-2"
  style="float: right"
  (click)="signOut()"
>
  <i class="fa fa-sign-out" aria-hidden="true"></i>
</button>
